bench_inv
bench_sign
bench_verify
tests
*.exe
*.so
*.a
!.gitignore

.libs/
Makefile.in
autom4te.cache/
config.log
config.status
*.tar.gz
*.la
.deps/
.dirstamp
*.lo
*.o
*~
src/stamp-h1
libsecp256k1.pc
